.side-container
    .side-heading
        h3.nowrap.m-0(style="overflow: hidden; text-overflow: ellipsis;")
            i.fa-solid.fa-wrench.mr-2
            span Ionic All-in-One Toolkit
    hr.my-0
    .side-body
        .d-flex
            h3.m-0 Android
        .d-flex.mt-2
            label.mr-2 Installed
            strong {{status.android}}
        .d-flex.mt-2
            label.mr-2 JAVA
            strong {{status.java}}
        .d-flex.mt-2
            label.mr-2 adb
            strong {{status.adb}}
        .d-flex.mt-2.flex-column
            label.mr-2 JAVA_HOME
            strong(style="word-break: break-all;") {{status.java_home}}
        .d-flex.mt-2.flex-column
            label.mr-2 ANDROID_HOME
            strong(style="word-break: break-all;") {{status.android_home}}
        hr.my-0
        .d-flex.mt-4
            h3.m-0 iOS
        .d-flex.mt-2
            label.mr-2 Installed
            strong {{status.ios}}
        .d-flex.mt-2
            label.mr-2 idevice
            strong {{status.idevice}}
        .d-flex.mt-2
            label.mr-2 cocoapods
            strong {{status.pod}}
        hr.my-0
        .d-flex.mt-4
            select.form-select([(ngModel)]="device")
                option(*ngIf="devices.length == 0", value="") No device 
                option(*ngFor="let device of devices;let i = index", [value]="device.id") [{{device.type}}] {{device.id}}
            button.btn.btn-outline-dark.ml-2.px-2((click)="getDevices()")
                i.fa-solid.fa-arrows-rotate
        .d-flex.mt-2
            button.btn.btn-block.btn-primary((click)="appInstall()", [disabled]="!device") Install
        .d-flex.mt-2
            .ml-auto
            button.btn.btn-sm.btn-outline-success.ml-2(*ngIf="showAddAndroid()", [disabled]="disabledAddAndroid()", (click)="addAndroid()") Add Android
            button.btn.btn-sm.btn-outline-dark.ml-2(*ngIf="showAddIOS()", [disabled]="disabledAddIOS()", (click)="addIOS()") Add iOS
            button.btn.btn-sm.btn-outline-danger.ml-2((click)="rebuild()") rebuild
wiz-core-app-widget-loading(*ngIf="loading")
